<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$$$$</title>
</head>

<body>

    <div class="container mb-5 position-relative">
        <nav class="navbar navbar-light justify-content-between">
            <a class="navbar-brand text-white">Super basket</a>
            <button class="btn btn-warning">Cart</button>
        </nav>
        <div id="dropwdown-cart">
            <div class="price d-flex justify-content-between mt-3">
                <h5>Subtotal :</h5>
                <span><b>34$</b></span>
            </div>
        </div>
        <div id="pizza-wrapper" class="row mt-5">

        </div>
    </div>
</body>

</html>